* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
nav {
  align-items: center;
  background-color: rgb(236, 236, 236);
  display: flex;
  justify-content: space-between;
  padding: 0% 7%;
  position: fixed;
  width: 90%;
  z-index: 1;
}
nav img {
  flex: 1;
  width: 100px;
}
.nav-menu {
  flex: 1;
  text-align: right;
}
.nav-menu ul li {
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  list-style: none;
  padding: 0px 10px;
  position: relative;
}
.nav-menu ul li a {
  color: black;
  text-decoration: none;
}
.seach-box {
  padding: 10px;
  justify-content: space-between;
}
.search-text {
  background: none;
  border-radius: 15px;
  float: left;
  font-size: 16px;
  line-height: 25px;
  outline: none;
  padding: 0 10px;
  width: 200px;
}
.search-box:hover::after.search-text {
  width: 240px;
  padding: 0 6px;
}
.nav-menu ul li a:hover {
  color: #228b22;
  transition: 0.5s;
}
.nav-menu ul li a.active {
  color: #228b22;
}
.nav-menu ul li::after {
  background: #228b22;
  content: "";
  display: block;
  height: 2px;
  margin: auto;
  width: 0%;
}
.nav-menu ul li:hover::after {
  width: 100%;
  transition: 0.5s;
}
nav .fas {
  display: none;
}
.header {
  backdrop-filter: black;
  background-image: url(images/cover2.jpg);
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  min-width: 100px;
  position: relative;
}
.text {
  color: rgb(1, 0, 54);
  font-size: 25;
  font-weight: 550;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 70%;
  transform: translate(-50%, -50%);
  width: 90%;
}
.text h1 {
  font-size: 30px;
  color: black;
}
.h-button {
  border-radius: 10px;
  border: 5px solid #ff3232;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  font-weight: 400;
  padding: 7px 20px;
  position: relative;
  text-decoration: none;
}
.h-button:hover {
  background: #98fb98;
  transition: 0.4s;
  color: black;
}
@media (max-width: 700px) {
  .text h1 {
    font-size: 30px;
  }
  .nav-menu ul li {
    display: block;
  }
  nav img {
    width: 70px;
  }
  .nav-menu {
    background: #98fb98;
    height: 100vh;
    position: fixed;
    right: -250px;
    text-align: left;
    top: 0;
    width: 250px;
    z-index: 2;
  }
  nav .fas {
    color: black;
    cursor: pointer;
    display: block;
    size: 30px;
    margin: 15px;
  }
  .nav-menu ul {
    padding: 15px;
  }
}
.row {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}
@media (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}
.home-more {
  background: rgb(238, 238, 238);
  margin: auto;
  width: 80%;
}
.home-left {
  flex-basis: 40%;
}
.home-left img {
  width: 100%;
}
.home-right {
  flex-basis: 55%;
}
.home-right h1 {
  font-size: 65px;
}
.home-right p {
  color: rgb(26, 25, 25);
  font-size: 45px;
  font-weight: 600;
  margin-top: 25px;
  text-align: left;
}
/*----------------BLOG---------------*/
.blogpost {
  margin: auto;
  padding-top: 30px;
  text-align: center;
  width: 80%;
}
.blogpost a {
  text-decoration: none;
  color: black;
}
.blog-header h1 {
  color: black;
  font-size: 40px;
  left: 50%;
  margin-top: 10px;
  position: absolute;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 90%;
}
.blogpost-col {
  border-radius: 10px;
  box-shadow: 0px 0px 5px;
  cursor: pointer;
  flex-basis: 32%;
  margin-bottom: 10px;
  margin-top: 20px;
  text-align: left;
}
.blogpost-col h1 {
  font-size: x-large;
  padding-left: 10px;
}
.blogpost-col img {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  backdrop-filter: overlay;
}
.blogpost-col h4 {
  color: gray;
  padding-left: 10px;
}
.blogpost-col p {
  padding-left: 10px;
  padding-right: 5px;
  padding-bottom: 10px;
}
.h1 {
  font-size: 40px;
  color: mediumspringgreen;
}
/*----------------blog-content---------------*/
.blog-content {
  width: 80%;
  margin: auto;
  padding: 60px 0px;
}
.blog-left {
  flex-basis: 70%;
}
.blog-left img {
  width: 100%;
  margin-top: 20px;
}
.blog-left h1 {
  font-size: 40px;
}
.blog-left h2 {
  font-size: 30px;
}
.blog-left h3 {
  color: gray;
}
.blog-left p {
  font-size: 18px;
  text-align: left;
}
.blog-right {
  flex: 25%;
  margin-left: 20px;
}
.blog-right h1 {
  background: rgb(0, 0, 37);
  color: white;
  font-size: 20px;
  margin-top: 20px;
  padding: 7px 0px;
  text-align: center;
}
.blog-right h4 {
  color: rgb(87, 87, 87);
  font-size: 20px;
  margin-top: 10px;
}
.blog-right h4:hover {
  color: rgb(17, 17, 17);
  cursor: pointer;
  transition: 0.3s;
}
.blog-right input,
.blog-right textarea {
  border: 1px solid black;
  margin-bottom: 20px;
  margin-top: 10px;
  outline: none;
  padding: 15px;
  width: 60%;
}
/*----------------Contact---------------*/

.contact-col {
  margin: auto;
  padding-top: 100px;
  width: 60%;
}
.contact-col input,
.contact-col textarea {
  position: relative;
  border-radius: 10px;
  border: 1px solid black;
  margin: 10px;
  outline: none;
  padding: 15px;
  width: 100%;
}
.button {
  background: transparent;
  border: 2px solid #ff3232;
  border-radius: 25px;
  color: #ff1e1e;
  cursor: pointer;
  margin: 10px;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  padding: 12px 30px;
  text-decoration: none;
}
.button:hover {
  border: 2px solid black;
  transition: 0.4s;
  color: black;
}
/*----------------About---------------*/
.about-header h1 {
  color: black;
  font-size: 40px;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 25%;
  transform: translate(-50%, -50%);
  width: 90%;
}
.about {
  margin: auto;
  padding-bottom: 20px;
  padding-top: 40px;
  text-align: center;
  width: 80%;
}
.about-col img {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  backdrop-filter: overlay;
}
article {
  font-size: 20px;
  text-align: left;
  margin-right: 50px;
}
/*----------------FOOTER---------------*/
.footer {
  background: mediumspringgreen;
  justify-content: space-between;
  position: relative;
  width: 100%;
}
.footer h3 {
  font-weight: 600;
}
.footericons {
  cursor: pointer;
  font-size: 25px;
  margin-top: 5px;
  text-align: center;
  text-justify: distribute 5px;
}
.nav-footer a {
  color: black;
  text-decoration: none;
  font-weight: 550;
  font-size: 20px;
}
.nav-footer:hover {
  text-decoration-style: solid;
  color: white;
}
.nav-footer a:hover {
  color: white;
  transition: 0.1s;
}
.footer-row {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}
.footer-col {
  flex-basis: 25%;
  margin-bottom: 2%;
  margin-top: 1%;
  text-align: center;
}
.pp a {
  color: black;
  display: inline-block;
  font-size: 20px;
  font-weight: 550;
  text-decoration: none;
}
@media (max-width: 700px) {
  .footer-row {
    flex-direction: column;
    height: relative;
  }
}
.footer-sub {
  width: 100%;
  height: 35px;
  background: black;
}
footer p {
  color: white;
  text-align: center;
}
footer p a {
  color: white;
}
